main{
    .main-boxs{
        margin-top: 5%;
        display: flex;
         gap: 45px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
       
        .main-box{
            border-bottom: 1px solid ;
            justify-content: center;
            display: flex;
            flex-direction: column;
            gap: 15px;
            margin: auto 0px;
           text-align: start;
           padding: 5px;
            
           .main-text{
            display: flex;
            gap: 15px;
           }
           p{
            max-width: 685px;
           }
        }
    }
}
@media (max-width:610px) {
     main{
        .main-boxs{
            .main-box{
                text-align: center;
             
            }
            .main-text{
                text-align: center;
          
            }
        }
    }
}

@media (max-width:610px) {
   
       .main-boxs{
           .main-box{
            .main-text{
           padding-left: 50px;
            }
           }
         
       }
   }


