header{

    .header-nav{
    display: flex;
     justify-content: end;
 
     padding: 10px;
     ul{
        display: flex;
        gap: 30px;
        padding-top: 10px;
           a{
            color: black;
           }
         .header-li{
            margin-right: 100px;
         
         }
     }

    }
    .header-box{
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 50px;
        gap: 50px;
    }
    .header-left{
       justify-content: center;
       display: flex;
       flex-direction: column;
    
        gap: 15px;
        h1{
            max-width: 509px;
            font-size: 44px;
            padding: 10px;
        }
        p{
            max-width: 497px;
            padding: 10px;
        }
    }
    .header-btn{
        max-width: 40%;
        padding: 10px;
        background-color: red;
        border-radius: 5px;
        border: none;
        color: aliceblue;
    }

    .header-main{
        margin-top: 3%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 50px;
        background: #EDF7FA;
        padding: 15px;
                .header-h4 {
                    text-align: end;
                  color: #00A8CC;
                  

                }
        .header-boxs{
            background-color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
            flex-direction: column;
            padding: 30px;

            h2{
                max-width: 308px;
            }
                .header-desc{
                    max-width: 308px;
                  
                }
                .tetxts{
                    display: flex;
                    gap: 10px;
                }
        }
    }

}
@media (max-width:811px) {
    header{
        .header-box{
            text-align: center;
              flex-direction: column;
              flex-direction: column-reverse;
              .header-left{
                text-align: center;
              }
        }
    }
}
@media (max-width:715px) {
    header{
       
        .header-main{
            flex-direction: column;
        }
    }
}